In [4]:
import pandas as pd
d = {'Hashir': [1, 2, 3, 4, 5], 'Navar': [6, 7, 8, 9, 10], 'Asif': [11, 12, 13, 14, 15]}
df = pd.DataFrame (data = d)
df

   Hashir  Navar  Asif
0       1      6    11
1       2      7    12
2       3      8    13
3       4      9    14
4       5     10    15